@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

/* Utility */

:root {
  --background-color: #161616;
  --button-color: #dd0000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  width: 85%;
  margin: 0 auto;
}
/* Header style start */
header {
  margin-top: 50px;
  border-radius: 30px;
  color: #fff;
  background-color: var(--background-color);
}
.banner {
  display: flex;
  align-items: center;
}
.leftText {
  width: 50%;
  margin: 110px 20px 110px 105px;
}
.leftText h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 80px;
}
.leftText p {
  font-size: 16px;
  font-weight: 400px;
  line-height: 26px;
  margin: 20px 50px 30px 0px;
}
button {
  padding: 16px 30px;
  background-color: var(--button-color);
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-family: Helvetica, sans-serif;
}
button a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.rightImage {
  width: 50%;
}
